<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% include analytics.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.absolute_url }}">Thomas Leroy</a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p class="view"><a href="{{ site.github.owner_url }}">GitHub</a></p>
        <p class="view"><a href="/blog/index.html">Blog posts</a></p>
        <p class="view"><a href="/about/index.html">About</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="{{site.github.owner_url}}">Thomas.</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script id="dsq-count-scr" src="//lthomasmp-github-io.disqus.com/count.js" async></script>
  </body>
</html>
